.container{
    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 100px 400px 100px;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer";
}

.content{
    background-color: cadetblue;
    border: 2px solid black;
}

.content1{
   grid-area:header;
}

.content6{
    grid-area: sidebar;
}