.container {
    display:grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px; */
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 200px 100px 50px;

    /* column-gap: 10px;
    row-gap: 50px; */

    /* box-shadow: 2px 2px 2px gray ;
    border-radius: 5px; */


}

.content{
    border: 0.5px solid blue;
    text-align: center;  
}


.content1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    
}

.content2{
   grid-column: 2/span 3 ;
}