*{
    margin: 0;
    box-sizing: border-box;
}

.container{
width: 1000px;
height: auto;
display: grid;
gap: 20px;
grid-template-columns: repeat(4, 1fr);
margin: 50px auto;
}



.container > div {

    border: 1px solid;
    background-color: royalblue;
    color: white;
    padding: 20px;
    font-family: sans-serif;
    font-size: 20px;
}

.box{
    height: 220px;
}

.header {
    grid-column: 1/5;
    height: 100px;
}
.main {
    grid-column: 1/4;
    height:400px ;
}

.sidebar{
    grid-row: 2/4;
    grid-column : 4/4;
}

.footer{
    height: 100px;
    grid-column : 1/5;
}